 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
body {
    width:100%;
    height:767px;
    position: relative;
    background-color:white;
}
.maincontainer {
  position: absolute;
  width: 710px;
  height: 768px;
  display: flex;
  flex-direction: row;
}


.inputcontainer  {
    position: absolute;
    width: 710px;
    height: 768px;
    background-color: green;
    left: 700px;
}
.imagecontainer {
    position: absolute;
    width: 710px;
    height: 768px;
    background-color:blue;  
}
.imagecontainer .image1 {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1;
    
}
.ladyimage {
   position: absolute;
   z-index: 1;
}